/* You can add global styles to this file, and also import other style files */

.client-form {
  margin-top: 5rem;
}

.client-list {
  margin-top: 1.5rem;
}

.form-bg {
  background-color: #303030;
}
